.copy-container {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  #copy-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .copy-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .copy-btn:hover {
    background-color: #3e8e41;
  }

  #noteupi{
color: red;
  }

  #hurryup{
    
    text-align: center;
  }


/* For pc View */
@media (min-width: 768px) {
    .copy-container{
        margin-left: 345px;
    }
}


